/*font-family: 'Libre Baskerville', serif;*/
h1{
    font-size: 40px;
    color: brown;
    text-align: center;
}
#bizimle{
    font-family: 'Times New Roman', Times, serif;
    color:blue;
    font-size: 40px;
}

.nav{
    font-size: 30px;
    color: honeydew;
    text-align: center;
}

#ikinci{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkorange;
    font-size: medium;
}

.class1{
    font-size: 30px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.urunler1{
  
    background-color:black;
    font-size: 20px;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/******************************hakkimizda***************************************************/

.h1{ text-align: center;
    font-size: 90px;
    
    font-family: 'Times New Roman', Times, serif;

}

/******************************************iletisim***********************************/

.ilet{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;

}